
:root {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

.charts {
  height: calc(100vh - 10rem);
  // height: inherit;
  background-color: cornsilk;
  padding: 2rem;
  border-radius: 3px;
}